<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <div class="card-desk">
    <div class="card" id="name">
         <div class="card-body">
        <img  id="rectangle" src="https://img5.pic.in.th/file/secure-sv1/442503476_7647636881997870_8124978637895890768_n.jpg">
        <div class="card-text" id="name">
          <b style="font-size: 25px; ">Netipong Sanklar (Jay)</b>
          <div style="font-size: 15px; ">Sex: Male | Age: 23yrs</div><br>

          <div style="font-size: 15px; padding-top: 5px;">
            I'm Junior Programmer Luv'in Technology, IT Gadget and all about computer<br>
            I like to do photograph, cinematic, video editing as my hobby.
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <div class="card" id="edu">
          <div class="card-body">
            <div class="card-text">
              <div style="padding-bottom: 10px; font-size: 23px; color:rgb(255, 163, 226);">
                <b>Educational background</b>
              </div>
              <div style="font-size: 15px; padding-bottom: 5px;"><b>2014 - 2020 (Grade 7 - Grade 12)</b><br>
              At Thanyaburi School</div>
              <div style="font-size: 15px; "><b>2022 - Now (Bachelor's degree)</b><br>
              Major of Computer-Technology (Database) at Rajamangala University of Technology Thanyaburi</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="card" id="skill">
          <div class="card-body">
            <div class="card-text">
              <div style="padding-bottom: 10px; font-size: 23px; color:rgb(252, 206, 0);">
                <b>Skill</b>
              </div>
              <div style="font-size: 15px; padding-bottom: 5px;"><b>Programming Language</b><br>
              - HTML/CSS Bootstrap<br>
              - Java<br>
              - C#<br>
              - TypeScript (Angular)<br>
              - Python
              </div>
              <div style="font-size: 15px; "><b>Hobby Tools</b><br>
              - Adobe Photoshop<br>
              - Adobe Lightroom<br>
              - Adobe Premiere Pro<br>
              - Adobe Illustrator<br>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card" id="work">
      <div class="card-body">
        <div class="card-text">
          <div style="padding-bottom: 10px; font-size: 23px; color:rgb(255, 160, 83);">
            <b>Work</b>
          </div>
          <div style="font-size: 15px; padding-bottom: 5px;"><b>1Thing</b><br>
          Social media website for miniproject in web programming class, Coding with Angular Framework and use Firestore as Database.</div>
          <div style="font-size: 15px; "><b>Modifying app  Thapster</b><br>
          Editing and customizing some functions as per my requirements.</div>
        </div>
      </div>
    </div>

    <div class="card" id="contact">
      <div class="card-body">
        <div class="card-text">
          <div style="padding-bottom: 10px; font-size: 23px; color:rgb(0, 204, 255);">
            <b>Contact</b>
          </div>
          <div style="font-size: 15px; padding-bottom: 5px;"><b>Email</b><img style="height:10px; padding-left: 5px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png"><br>
            <a href="mailto:netipong.jj@gmail.com">netipong.jj&#64;gmail.com</a></div>
          <div style="font-size: 15px; "><b>Discord</b><img style="height:10px; padding-left: 5px;"src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png"><br>
            <a href="https://discordapp.com/users/161111988141817857">rememberurlie</a></div>
        </div>
      </div>
    </div>
  </div>
<body>

