@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 40px 20% 40px 20%;
    font-family: "Reddit Sans", sans-serif;
    background-image: url("https://img2.pic.in.th/pic/seamless-pattern-of-funny-colorful-doodle-lines-a-creative-artistic-background-in-a-minimalist-style-for-children-or-a-fashionable-design-with-basic-shapes-memphis-style-vector.png");
}

@media screen and (max-width: 800px) {
    body {
        margin: 40px 8% 40px 8%;
    }
}

@media screen and (max-width: 1054px) {
    .card#edu {
        height: 390px;
    }
    .card#skill {
        height: 390px;
    }
}

@media screen and (min-width: 1054px) {
    .card#edu {
        height: 320px;
    }
    .card#skill {
        height: 320px;
    }
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 1px #dadada;
    
}

.card-text#name{
    margin-top: 8px;
}

img#rectangle{
    float: left;
    width: 5rem;
    border-radius: 20%;
    margin-right: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 1px #ff9ec7;
  }
  .card {
    transition: transform 0.2s;
  }