<body>
  <div class="container">
    <div class="profilepic">
          <div class="col-sm-12">
        <img id="rectangle" src="https://scontent.fbkk22-4.fna.fbcdn.net/v/t39.30808-6/442493264_7647802155314676_5954833914759732026_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHUBJH2KNpQ8WlBIi0N_XHdUJj-nBAUcexQmP6cEBRx7HqPEZomdltoqB7LRE1pdG3e32P0Tm2oRS_udp4EkvMl&_nc_ohc=H6u33Jod-b4Q7kNvgHfh-lo&_nc_ht=scontent.fbkk22-4.fna&oh=00_AYBx6GFyuaW_oYqqPxuQ1d4cBGZ_SSgv5B6u3AqpNDudog&oe=664D32F5">
      </div>
      <div class="col-sm-12">
        <img id="square" src="https://scontent.fbkk22-8.fna.fbcdn.net/v/t39.30808-6/442503476_7647636881997870_8124978637895890768_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFbzaVv30YWKjXFSbXG0blVO-3XK6qxfVQ77dcrqrF9VKZBM2sVJGW_Qq4Mw6guu1qsxB2AM1fI3ZDC3lBEz1zC&_nc_ohc=vDUwxZ3BHOEQ7kNvgHhDReq&_nc_ht=scontent.fbkk22-8.fna&oh=00_AYCmOoXSoqh2xkfxbf5YyI6PRIx9-bohlTFh7SZWbhNdOg&oe=664D4F2D">
      </div>
    </div>
    <div class="text">
      <p id="name">Netipong Sanklar (Jay)</p>
    </div>
  </div>
<body>

