@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

body{
    margin: 40px 20% 40px 20%;
    font-family: "Reddit Sans", sans-serif;
    background-image: url("https://img2.pic.in.th/pic/seamless-pattern-of-funny-colorful-doodle-lines-a-creative-artistic-background-in-a-minimalist-style-for-children-or-a-fashionable-design-with-basic-shapes-memphis-style-vector.png");
}

@media screen and (max-width: 800px) {
    body {
        margin: 40px 8% 40px 8%;
    }
}

.card#edu {
    height: 315px;
}
.card#skill {
    height: 315px;
}

@media screen and (max-width: 1054px) {
    .card#edu {
        height: 337px;
    }
    .card#skill {
        height: 337px;
    }
}

@media screen and (max-width: 966px) {
    .card#edu {
        height: 360px;
    }
    .card#skill {
        height: 360px;
    }
}

@media screen and (max-width: 932px) {
    .card#edu {
        height: 382px;
    }
    .card#skill {
        height: 382px;
    }
}

@media screen and (max-width: 924px) {
    .card#edu {
        height: 403px;
    }
    .card#skill {
        height: 403px;
    }
}

@media screen and (max-width: 800px) {
    .card#edu {
        height: 335px;
    }
    .card#skill {
        height: 335px;
    }
}

@media screen and (max-width: 695px) {
    .card#edu {
        height: 360px;
    }
    .card#skill {
        height: 360px;
    }
}

@media screen and (max-width: 671px) {
    .card#edu {
        height: 380px;
    }
    .card#skill {
        height: 380px;
    }
}

@media screen and (max-width: 664px) {
    .card#edu {
        height: 403px;
    }
    .card#skill {
        height: 403px;
    }
}

@media screen and (max-width: 575px) {
    .card#edu {
        height: auto;
    }
    .card#skill {
        height: auto;
    }
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 1px #dadada;
    
}

.card-text#name{
    margin-top: 8px;
}

img#rectangle{
    float: left;
    width: 5rem;
    border-radius: 20%;
    margin-right: 20px;
}

@keyframes gradientShadow {
    0% {
      box-shadow: 0 0 20px 5px #ff9ec7; /* Pastel Pink */
    }
    50% {
      box-shadow: 0 0 20px 5px #d1b3ff; /* Pastel Violet */
    }
    100% {
      box-shadow: 0 0 20px 5px #ffb3b3; /* Pastel Red */
    }
  }


.card:hover {
    transform: scale(1.05);
    animation: gradientShadow 3s infinite alternate;
  }
  .card {
    transition: transform 0.2s;
  }